.btn1{
    padding: 0.7rem 1.2rem;
    color: white;
    background-color: rgba(255, 255, 0, 0.381);
    border: none;
    border-radius: 5px;
}

.btn2{
    padding: 0.5rem 1rem;
    color: white;
    background-color: rgba(255, 0, 0, 0.381);
    border: none;
    border-radius: 5px;
}