body{
    background-color: black;
    color: white;
    text-align: center;
}
h1{
    font-size: 100px;
    text-decoration: underline;
}

#nav{
    display: flex;
    justify-content:space-around;
    align-items: center;

}